*.o
*.d
*.crf
*.html
!*.c
!*.h
!*.sct
./prj/obj

# Object files
*.o
*.ko
*.obj
*.elf
*.__i


# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
